* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 500;
  background-color: #f6f6f6;
  color: #858585;
}
.news {
  cursor: pointer;
}
.news-author,
.modal-author {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
